<div class="container mx-auto w-full flex flex-col sm:flex-row w-fit">
  <aside class="relative bg-white max-w-md border border-black/5 rounded-xl shadow-lg m-3 sm:m-0">
    <div class="px-2 flex flex-row sm:flex-col justify-center">
      <a href="/admin/" class="hover:bg-gray-200 rounded-r-lg flex items-center p-2 my-2 transition-colors <%= url == '/admin/' ? 'bg-gray-200' : '' %>" href="#">
        <span class="mx-4 text-lg font-normal"> Add Product </span>
        <span class="flex-grow text-right"> </span>
      </a>
      <a href="/admin/product" class="hover:bg-gray-200 rounded-r-lg flex items-center p-2 my-2 transition-colors <%= url == '/admin/product' ? 'bg-gray-200' : '' %>" href="#">
        <span class="mx-4 text-lg font-normal"> Product List </span>
        <span class="flex-grow text-right"> </span>
      </a>
    </div>
  </aside>

  <div class="px-4 mx-auto flex-1">
    <form id="OptionForm" class="container mx-auto w-full flex flex-col sm:flex-row w-fit gap-2 my-3 px-2 items-center">
      <label class="font-bold">Filter</label>
      <div class="flex-1 flex flex-row gap-2">
        <style>
          .select2-container .select2-selection--single {
            height: 100%;
          }
          .select2-selection__rendered {
            height: 100%;
          }
        </style>
        <select name="selectLimit" class="max-w-[250px] w-full">
          <option></option>
          <option>50</option>
          <option>30</option>
          <option>20</option>
          <option>10</option>
        </select>
        <select name="selectType" class="max-w-[250px] w-full" multiple="multiple">
          <option value="nam">Nam</option>
          <option value="nu">Nữ</option>
          <option value="uni">Unisex</option>
        </select>
        <select name="selectBrand" class="max-w-[250px] w-full" multiple="multiple">
          <% brands.map(brand => { %>
          <option value="<%= brand.brand %>"><%= brand.brand %></option>
          <% }) %>
        </select>
      </div>
      <button name="button" class="btn btn-info" onclick="handlerOption(event)">Go</button>
    </form>
    <script>
      $(document).ready(function () {
        $("select[name='selectLimit']").select2({
          placeholder: "Select limit",
          allowClear: true,
        });
        $("select[name='selectType']").select2({
          placeholder: "Select type",
        });
        $("select[name='selectBrand']").select2({
          placeholder: "Select brand",
        });
      });
      function handlerOption(e) {
        e.preventDefault();
        let selectLimit = $("select[name='selectLimit']").select2({ placeholder: "Select view brand" }).val();
        let selectType = $("select[name='selectType']").select2({ placeholder: "Select view brand" }).val().join(",");
        let selectBrand = $("select[name='selectBrand']").select2({ placeholder: "Select view brand" }).val().join(",");
        let query = "";
        if (selectLimit) query += "limit=" + selectLimit;
        if (selectType) query += "&type=" + selectType;
        if (selectBrand) query += "&brand=" + selectBrand;
        window.location.href = `/admin/product/1?${query}`;
      }
    </script>
    <div class="btn-group flex justify-center py-2">
      <% for( let i = 1; i <= pages.totalPages; i++ ) { if (i != pages.currentPage ) { %>
      <button type="button" class="btn btn-outline" onclick="pageChange('<%= i %>')"><%= i %></button>
      <% } else { %>
      <button type="button" class="btn btn-outline btn-disabled border border-black" onclick="pageChange('<%= i %>')"><%= i %></button>
      <% }} %>
    </div>
    <p class="font-bold">
      <!-- let pages = { totalPages: Math.ceil(products.length / limit), currentPage: page, totalProducts: products.length } -->
      <%= `showing ${pages.currentPage} of ${pages.totalPages} pages from ${(pages.currentPage - 1 )*pages.limit} to ${((pages.currentPage - 1 )*pages.limit + pages.limit > pages.totalProducts ? pages.totalProducts : (pages.currentPage - 1 )*pages.limit + pages.limit)} of ${pages.totalProducts} products` %>
    </p>

    <div class="px-4 py-4 -mx-4 sm:-mx-8 sm:px-8">
      <div class="rounded-lg shadow">
        <table class="leading-normal w-full">
          <thead>
            <tr>
              <th scope="col" class="py-2 px-2 font-bold text-left uppercase border-b border-gray-200">Image/ID</th>
              <th scope="col" class="py-2 px-2 font-bold text-left uppercase border-b border-gray-200 hidden sm:table-cell">Brand</th>
              <th scope="col" class="py-2 px-2 font-bold text-left uppercase border-b border-gray-200 hidden sm:table-cell">Description</th>
              <th scope="col" class="py-2 px-2 font-bold text-left uppercase border-b border-gray-200">Action</th>
            </tr>
          </thead>
          <tbody>
            <% products.map(e => { %>
            <tr>
              <td class="text-sm bg-white border-b border-gray-200">
                <div class="p-2 flex items-center">
                  <img alt="<%= e.id%>" src="/assets/img/<%= e.id%>.png" class="object-cover rounded-full h-10 w-10 sm:h-24 sm:w-24" />
                  <p class="p-2 text-gray-900 font-bold"><%= e.id%></p>
                </div>
              </td>
              <td class="text-sm bg-white border-b border-gray-200 hidden sm:table-cell">
                <p class="p-2 text-gray-900"><%= e.brand%></p>
              </td>
              <td class="text-sm bg-white border-b border-gray-200 hidden sm:table-cell">
                <p class="p-2 text-gray-900"><%= e.description%></p>
              </td>
              <td class="relative text-sm bg-white border-b border-gray-200">
                <button class="btn btn-circle btn-outline" onclick="openMenu('<%= e.id%>')">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM12.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0zM18.75 12a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
                  </svg>
                </button>
                <ul class="absolute hidden top-2/3 right-[calc(100%-2rem)] shadow flex flex-col bg-white rounded-md border border-black/10 w-24 divide-y divide-black/10 z-10" id="menu<%= e.id%>">
                  <li class="p-1 flex"><a href="/product/<%= e.id%>">Detail</a></li>
                  <li class="p-1 flex"><a href="/admin/edit/<%= e.id%>">Edit</a></li>
                  <li class="p-1 flex"><button type="button" onclick="handlerDelete('<%= e.id%>')">Delete</button></li>
                </ul>
              </td>
            </tr>
            <% }) %>
            <script>
              function openMenu(id) {
                document.querySelector("#menu" + id).classList.toggle("hidden");
              }
              function handlerDelete(id) {
                fetch("http://localhost:3000/admin/delete-product", {
                  method: "POST",
                  headers: { "Content-Type": "application/x-www-form-urlencoded" },
                  body: new URLSearchParams({ id }),
                }).then(() => (window.location = "/admin/product"));
              }
            </script>
          </tbody>
        </table>
      </div>
    </div>
    <div class="btn-group flex justify-center py-2">
      <% for( let i = 1; i <= pages.totalPages; i++ ) { if (i != pages.currentPage ) { %>
      <button type="button" class="btn btn-outline" onclick="pageChange('<%= i %>')"><%= i %></button>
      <% } else { %>
      <button type="button" class="btn btn-outline btn-disabled border border-black" onclick="pageChange('<%= i %>')"><%= i %></button>
      <% }} %>
    </div>
    <script>
      function pageChange(page) {
        window.location.pathname = "/admin/product/" + page;
      }
    </script>
  </div>
</div>
